html {
    background-color: black;
}

p {
    color: black;
}

body {
    background-color: #c8c8c8;
}

header {
    background-color: #7a7a7a;
}

nav {
    background-color: #a1a1a1;
}

footer {
    background-color: #e6e6e6;
}